*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #7fffd4;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* header */
header {
    background-color: #ffffff;
}

header .container{
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.logo-title {
    display: flex;
    align-items: center;
}

header h1 {
    font-size: 2rem;
}

header img {
    width: 80px;
}

#level-selector {
    padding: 3px 20px;
    border-radius: 8px;
}

header button {
    margin-right: 20px;
    padding: 3px 20px;
    border-radius: 8px;
}


/* main */
.start-title,
.level-notice {
    text-align: center;
    margin-top: 250px;
}

.table {
    width: 500px;
    height: 500px;
    margin: 43px auto;
    display: flex;
    flex-wrap: wrap;
}

.table:hover {
    cursor: pointer;
}

.hidden {
    display: none;
}

.cell {
    border:1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.active {
    background-color: #0073ff;
    color: #ffffff;
}


/* footer */
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    padding: 15px;
}